@media screen and (max-width: 1000px) {
    .contact-section-wrapper .heading {
        display: none;
    }

    .contact-icons {
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;
    }

    .contact-section-wrapper {
        width: 100%;
    }

    .about-item {
        width: 100%;
    }

    .mystuff-flexbox {
        margin: 100px 0 100px 0;
    }
}
