.section
    height 100vh

.main
    margin-top: 50px
    overflow hidden
#homeImage
    background-image: url("https://i.imgur.com/bnJHhVC.png")
    background-repeat: no-repeat
    background-color lightgreen
    filter blur(1px)
    width 100vw
    height 100vh
    z-index 0
    margin-top: -10px 
    margin-left: -10px
